<!DOCTYPE html>
<html>
  <head>
    <title>Car Forums</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="logo">
          <br />
          <%= link_to 'Car Forums', root_path %>
        </div>
      </div>
      <div class="col-4 slogan">
        <br />
        Find all your car needs right here!
      </div>
      <div class="col-5">
        <br />
        <%= link_to 'Contribute', new_car_path %>
        -
        <%= link_to 'Code for forums' %>
      </div>
    </header>

    <% if flash[:error].present? %>
      <div class="col-10 offset-1 alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>

    <br class="clear" />


    <%= yield %>
  </body>
</html>
